# Python Programming

In [ ]:
# A. The smaller the text heading, the numbers of hash (#)
# For example
# 1. # Python
# 2. ## Python
# 3. ### Python

# B. To make a text italic, you have to enclose the text in an asterisk (*Python*)

# C. To make a text bold, you have to enclose the text in double asterisk (**Python**)

# D. For listing(bullet points), use - in front of the text (- Pyhton)

# Note that you have to set it to markdown for it to display.

## Techiques in naming variables in python
- Camel case e.g myNameVariable
- Pascal case e.g MyNameVariable
- Snake case e.g my_name_variable

## Common Operators used in Python
- Arithmetic Operator e.g +, -, *, /
- Logical Operator e.g and, or, not
- Assignment Operator e.g =
- Identical Operator e.g is, is not
- Comparison Operator e.g ==, !=, <, >, >=, <=

## Common Operators used in Python
- Arithmetic Operator e.g +, -, *, /
- Logical Operator e.g and, or, not
- Assignment Operator e.g =
- Identical Operator e.g is, is not
- Comparison Operator e.g ==, !=, <, >, >=, <=

**Note** A date is note a data type on its own in Python, but we can import a module called datetime to work with date.

In [14]:
#We can import a datetime module to display the correct date.

import datetime as dt

x = dt.datetime.now()
y = dt.datetime(2020,9,21)
print(x,y)

2024-10-31 04:54:11.422668 2020-09-21 00:00:00

#### strftime() function

The datetime object as a method for formatting date objects into readeable strings.

The method is called strftime(), and its take one parameter, format, to specify the format of the returned strings    

**Directives**                          **Directions**                             **Examples**
%a                                      Weekday, short version                     Wed
%A                                      Weekday, long version                      Wednesday
%w                                      Weekday as a number 0-6, 0 is sunday       3
%d                                      Day of the month, 01 - 31                  31
%b                                      Month name, short version                  Dec
%B                                      Month name, long version                   December
%m                                      Month as number 01 - 12                    12
%y                                      Year, short version, without century       18
%Y                                      Year full version                          2018

In [21]:
import datetime as dt

today = dt.datetime.now()
print(today.strftime("%Y"))

2024

In [24]:
x = dt.datetime(2000, 2, 25)
print(x.strftime("%A"))

Friday

### IF, ELIF & ELSE

In [28]:

name = input("What is your name: ")
food = input("What is your best food: ")
hobbies = input("What are your hobbies: ")
birthyear = input("What is your birth year: ")
age = 2024 - int(birthyear)

print(f" My name is {name}, my best food is {food}. My hobbies are {hobbies}. I am {age} years old")

What is your name:  Blessing
What is your best food:  Rice
What are your hobbies:  Traveling
What is your birth year:  1988

 My name is Blessing, my best food is Rice. My hobbies are Traveling. I am 36 years old

In [34]:
birth_year = input("What is your birth year:\n ")

# Check if the input is a digit or a valid number
if birth_year.isdigit():
    age = 2024 - int(birth_year)
    print(f" You are {age} years old")
else:
    print("Please input a valid number")

What is your birth year:
  jhgf

Please input a valid number

In [37]:
age = int(input("How old are you: "))

if age <= 10:
    print("You are still in Primary school")
elif age <= 15:
    print("You are in Secondary School")
elif age <= 30:
    print("You are an Undergraduate")

else:
    children = int(input("How many children do you have: "))
    if children > 3:
        age_child = int(input("How old is your last child: "))
        if age_child > 5:
            print("Please go an take care of your children ")
        else:
            print("You can go for your studies")
    else:
        print("You can go for your postgraduate degree")

How old are you:  34
How many children do you have:  2

You can go for your postgraduate degree

### Data Structure

In the data structure, we look out for 2 things: if it is **ordered** and if it is **mutable**
- **List** is an ordered collection of items. Lists can be mutable, meaning you can change their content. [1, "cat", true, 1, 2]
- **Sets** are mutable and unordered data structures of unique items. {1, 2, 3, 4, 5}
- **Tuples** are very much like lists. They are ordered but immutable. (10.0, 20.0)
- **Dictionary** - they are values: key pair mutable data structure that can be ordered. {"name": "john", "age": 9}

### Common List Methods
- **append(item)**: Adds an item to the end of the list
- **extend(iterable)**: Adds all elements of an iterable (like another list) to the end of the list.
- **insert(index, item)**: inserts an item to a given position
- **remove(item)**: removes the first occurrence of an item
- **pop(index)**: removes and returns the item at a given position(default is the last item).
- **sort()**: to sort in an ascending order
- **reverse()**: to reverse the list
- **count(item)**: returns the number of occurrences of an item
- **index(item)**: returns the index of the first occurrence of an item

In [44]:
list_1 = [1, 2, 4, 3, {"name": "olu"}, True, -5, "friyah", 4 ]
print(list_1)

[1, 2, 4, 3, {'name': 'olu'}, True, -5, 'friyah', 4]

In [47]:
list_1.remove(4)
print(list_1)

[1, 2, 3, {'name': 'olu'}, True, -5, 'friyah', 4]

In [50]:
list_1 = [1, 2, 4, 3, {"name": "olu"}, True, -5, "friyah", 4 ]
# list_1.count(3) 

list_1[3]

3

### Common Tuples Methods
- **index(item)**: returns the index of the first occurrence of the item
- **count(item)**: returns the number of times an item appears in the tuple

### Common Sets Methods
- **add(item)**: adds an set to the set.
- **remove(item)**: removes a specific element from the set.
- **discard(item)**: removes a specific element if it exists, without raising an error if it doesn't.
- **pop()**: removes and returns a random element.
- **clear()**: removes all elements from the set.
- **union(set2)**: returns a set containing all elements from both sets.
- **intersection(set2)**: returns a set containing elements found in both sets
- **difference(set2)**: returns a set containing elements in the first set but not in the second

### Common Dictionary Methods
- **get(key)**: returns the value of a specified key
- **keys()**: returns all the keys in the dictionary.
- **values()**: returns all the values in the dictionary.
- **items()**: returns all the key-value pairs as tuples.
- **update(dict2)**: updates the dictionary with the key-value pairs from another dictionary.
- **pop(key)**: removes and returns the value for the specified key.
- **clear()**: removes all key-value pairs from the dictionary

### LOOP

**Loop** are used to avoid writing repetitive codes. They allow us to repeat actions on conditions.

#### For Loop
- **For loop** is used to iterate over a sequence (such as a list, tuple, dictionary, set or string) or other iterable object.
-  **A for loop** is used to repeat actions for a known number of items. Think of it like going through a list or checklist, doing something for each item.
-  **For loop** is useful when you know how many times you need to repeat an action (like a list of items to go through).

In [64]:
for r in range(1,10):
  print(r)

1
2
3
4
5
6
7
8
9

In [67]:
# Traditional method for list
# Example 1
results = []

for i in range(1, 100, 10):
   results.append(i)
print(i)

results

91

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [70]:
# Example 2
fruits = ["apple", "banana", "carrot"]

for fruit in fruits:
    print(fruit)
    
fruits.append("orange")
print(fruits)

apple
banana
carrot
['apple', 'banana', 'carrot', 'orange']

In [73]:
# List Comprehension method
list_of_numbers = [numbers for numbers in range(1, 11)]
print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
# Other examples with the traditional method and list comprehension

# To get a list of odd numbers using a traditional method
odd_numbers = [1]

for number in range(3, 21):
    if number % 2 !=0:
        odd_numbers.append(number)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [79]:
# To get a list of odd numbers using list comprehension

odd_numbers = [numbers for numbers in range(3, 21) if numbers % 2 != 0]
  
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [82]:
# Another example
# count = []
for i in range(10, 0, -1):
    print(i)
    # count.append(i)
# print(count) 
print("Happy New Year!!")

10
9
8
7
6
5
4
3
2
1
Happy New Year!!

In [85]:
# Find the total of all even numbers
even_numbers = 2

for i in range(2, 14):
    if i % 2 == 0:
        even_numbers += i
print(even_numbers)

44

**The positioning** of print, increment, and break in the loop controls which value are printed and when the loop stop

In [90]:
# The use of a break after the print statement
fruits = ["apple", "banana", "orange", "avocado", "cherry", "mango", "banana"]
for x in fruits:
    print(x)
    if x == "banana":    
        break

apple
banana

In [93]:
# The use of break before the print statement
fruits = ["apple", "banana", "orange", "avocado", "cherry", "mango", "banana"]
for x in fruits:
    if x == "banana":
       break
    print(x)

apple

In [96]:
# The use of continue fruits = ["apple", "banana", "orange", "avocado", "cherry", "mango", "banana"]
for x in fruits:
    if x == "banana":    
        continue
    print(x)

apple
orange
avocado
cherry
mango

In [99]:
# Creating another list that has the letter a in the fruit's name using traditional method
fruits = ["apple", "banana", "orange", "avocado", "cherry", "mango", "banana"]
afruits = ["Date"]

for x in fruits:
    if "a" in x:
        afruits.append(x)
print(afruits)

['Date', 'apple', 'banana', 'orange', 'avocado', 'mango', 'banana']

In [102]:
# Creating another list that has the letter a in the fruit's name using list comprehension method
fruits = ["apple", "banana", "orange", "avocado", "cherry", "mango", "banana"]
afruits = ["Date"] + [x for x in fruits if "a" in x]
print(afruits)

['Date', 'apple', 'banana', 'orange', 'avocado', 'mango', 'banana']

In [105]:
# Another example with countries
countries = ["Nigeria", "Togo", "South Africa", "America", "United Kingdom", "Bostwana", "Cameroon"]
o_countries = ["Cambodia"]

for country in countries:
    if "o" in country:
         o_countries.append(country.upper())
print(f"The list of countries with 'o' are: {o_countries}")

The list of countries with 'o' are: ['Cambodia', 'TOGO', 'SOUTH AFRICA', 'UNITED KINGDOM', 'BOSTWANA', 'CAMEROON']

In [108]:
grades = [50, 56, 98, 77, 84, 25, 80]

a70 = [grade for grade in grades if grade >=70]
print(a70)

if a70:
    total = sum(a70)
    average_grade = total/ len(a70)
    print(f"The average of grades above 70 is {average_grade:.1f}")
else:
    print("No average for the grades")

[98, 77, 84, 80]
The average of grades above 70 is 84.8

In [111]:
# The use of Dictionary to increase salary of workers
employees = {
  "Anita": 60000,
  "Benita": 80000,
  "Caleb": 90000,  
}    
# Apply a 10% raise
for name, salary in employees.items():
    new_salary = salary * 1.10
    employees[name] = round(new_salary)
print("Updated salaries")

for name, salary in employees.items():
    print(f"{name}: ${salary}")

Updated salaries
Anita: $66000
Benita: $88000
Caleb: $99000

In [115]:
# How to create a list in python in sequence of 0 and 1 using list comprehension
binary = [0 if i % 2 == 0 else 1 for i in range(10)]

print(binary)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [118]:
# To print in sequences of 5 and 10
length = 20

y = [5 if i % 2 == 0 else 10 for i in range(length)]

print(y)

[5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10]

In [121]:
# To print even numbers using list comprehension
even_numbers = [x for x in range(20) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [124]:
# To print even squared numbers
even_squared = [e**2 for e in range(20) if e % 2 == 0]
print(even_squared)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [127]:
# or
even_squared2 = [e**2 for e in even_numbers]
print(even_squared2)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [130]:
# Dictionary Comprehension for even squared

dict_squared = {x: x**2 for x in range(20)}
print(dict_squared)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

#### While Loop
- **A while loop** repeatedly execute a block of code as long as the condition is true
- Setting a task thats repeats until something happens

In [136]:
i = 1
while i < 6:
   print(i)
   i += 1

1
2
3
4
5

In [139]:
# While loop with the break statement
# If you want 3 to be included before its breaks
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [142]:
# While loop with the break statement
# If you dont want 3 to be included before its breaks
i = 1
while i < 6:
    print(i)
    i += 1 
    if i == 3:
        break

1
2

In [145]:
# While loop with continue statement
i = 0 
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [148]:
i = 0
while i < 3:
    print("I love you")
    i += 1
else:
    print("Do you love me?")

I love you
I love you
I love you
Do you love me?

In [151]:
# Using while loop to append to a list @ttraditional method only
e = []
i = 0
while i < 15:
    e.append(i)
    i += 1
print(e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [155]:
# countdown using minus
countdown = 10
while countdown > 0:
    print(countdown)
    countdown -= 1
print("You did it")

10
9
8
7
6
5
4
3
2
1
You did it

In [158]:
i = 2
while i < 21:
    if i % 2 == 0:
       print(i) 
    i += 1

2
4
6
8
10
12
14
16
18
20

In [161]:
secret_number = 7
guess = None
while guess != secret_number:
    guess = int(input("What your number: "))
    if guess < secret_number:
        print("Number is too low")
    elif guess > secret_number:
        print("Number is too high")
else:  
    print("You won")

What your number:  5

Number is too low

What your number:  8

Number is too high

What your number:  7

You won

In [164]:
correct_password = "dsjhu83v@"
password = ""
while password != correct_password:
    password = input("What the password: ")
    if password == correct_password:
        print("Access Granted")
    else:
        print("Try Again")

What the password:  yay

Try Again

What the password:  ywf

Try Again

What the password:  dsjhu83v@

Access Granted

In [167]:
the_password = "password!!"
attempt = 3
while attempt > 0:
    password = input("What your password: \n")
    if password == the_password:
        print("Login Successfully")
        break
              
    else: 
        attempt -= 1
        print(f"Incorrect password!!! You have {attempt} left")  
if attempt == 0:
     print("Your Account has been locked!! Please wait for 2 hours")

What your password:
 gd

Incorrect password!!! You have 2 left

What your password:
 life4

Incorrect password!!! You have 1 left

What your password:
 uq

Incorrect password!!! You have 0 left
Your Account has been locked!! Please wait for 2 hours

In [170]:
# ATM Example
balance = 1000
withdraw = True
while balance > 0 and withdraw:
    print("Input amount to continue or (0 to stop)")
    amount = float(input("Enter amount to withdraw: "))

    if amount == 0:
        print("Existing withdrawal process")
        withdraw = False
    elif amount > balance:
        print("Insuffiecient balance, try smaller amount")

    else :
        balance -= amount
    print(f"You have successfully withdrawn {amount}. Your balance is {balance}")

if balance == 0:
    print("You have withdrawn all")

Input amount to continue or (0 to stop)

Enter amount to withdraw:  600

You have successfully withdrawn 600.0. Your balance is 400.0
Input amount to continue or (0 to stop)

Enter amount to withdraw:  0

Existing withdrawal process
You have successfully withdrawn 0.0. Your balance is 400.0

In [173]:
shopping_list = ["biro", "apple", "culteries"]
while shopping_list:
    items = shopping_list.pop()
    print(f"{items}, gotten")
    
print("You have gotten all items")

culteries, gotten
apple, gotten
biro, gotten
You have gotten all items

## Def
- **DEF is a keyword used to define a function**
- **A function is a block of reusable code that performs a specific task**
- **Functions allows you to group a set of statements together that can be executed whenever you call the function**
- **Functions helps in re-organizing codes, making them modular readable, and easy to manage.**

In [179]:
def shout():
    print("Hallelujah")

shout()

Hallelujah

In [182]:
def greet_user(name):
    print(f"Hi {name}, what are you doing today?")

greet_user("blessing")

Hi blessing, what are you doing today?